/* Admin */

.settings_page_wowprogress .form-table img {
    max-width: 200px;
}

/* Widget */

#wowprogress ul {
    margin-left: 0px !important;
    list-style: none;
    font-weight: bold;
}

/* poitner to indicate clickability*/
#wowprogress .expansion_head, 
#wowprogress .raid_head{
    cursor: pointer;
}

#wowprogress .expansion_head{
    text-align: center;
}

#wowprogress .expansion_head img{
    width: 170px;
}

#wowprogress .raid {
    background-position: top center;
    background-size: cover;
    margin-bottom: 8px;
}

#wowprogress .raid_film{
    background: rgba(255,255,255,0.8);
    margin: 0px 0px;
    padding: 3px 3px;
}

#wowprogress .raid_head {
    text-align: left;
    font-weight: bold;
}

#wowprogress .raid_head .raid_progress{
    float: right;
}

#wowprogress .raid ul {
    border-top: 1px dotted #000000;
    margin-bottom: 0px;
}

#wowprogress .difficulty {
    float: right;
}

#wowprogress .video_link {
    float: right;
}

#wowprogress .video_link img{
    border: 0;
    box-shadow: none;
    vertical-align: middle;
}

#wowprogress .hc,
#wowprogress .myth {
    min-height: 18px;
}

#wowprogress .hc {
    background-image: url('images/heroic_icon.png');
    background-repeat: no-repeat;
    padding-right: 18px;
    background-position: center right;
}


#wowprogress .myth {
    background-image: url('images/mythic_icon.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 18px;
}

